# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.ipch
.vs/MyDxLibGame3D/v17/Solution.VC.db
.vs/MyDxLibGame3D/v17/DocumentLayout.json
.vs/MyDxLibGame3D/v17/Browse.VC.opendb
.vs/MyDxLibGame3D/v17/.suo
.vs/MyDxLibGame3D/FileContentIndex/4fd95cc3-6a39-49a2-8891-658c8f42f50f.vsidx
.vs/MyDxLibGame3D/v17/Browse.VC.db
.vs/MyDxLibGame3D/v17/Browse.VC.db-shm
.vs/MyDxLibGame3D/v17/Browse.VC.db-wal
.vs/MyDxLibGame3D/FileContentIndex/0030ba08-09f0-4ce2-a6fb-aa4cf576ef75.vsidx
